

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















html{
   font-family: 'Josefin Sans', sans-serif;
   background-color: #252525;
}
body{
   margin: 0; padding: 0;
}

h2 {
  font-size: 3em;
}

.disqus_wrapper {
   background-color: #fff;
   padding: 15px;
   width: 600px;
   float: left;
}
.the-description {
   float: left;
   color: #fff;
   padding: 15px;
}


.chessboard-wrapper {
   padding-left: 15px;
   padding-bottom: 15px;
   /*Image Credit to miroha at alphacoders.com (http://wall.alphacoders.com/big.php?i=409614)*/
   background-image: url('http://images7.alphacoders.com/409/409614.jpg');
   background-position: -75px -150px;
   background-repeat: no-repeat;
   overflow-x: hidden;

}

.chat-wrapper {
   float: right;
   width: 400px;
   margin-right: 50px;
   border-radius: 20px 20px 0 0;
   background-color: rgba(255,255,255, 0.4);
   box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
}

.chat-entries {
   height: 700px;
   float: left;
   overflow-y: auto;
}

.chat-entry {
   margin: 10px;
   padding: 15px;
   background-color: #fff;
}

.chat-new input {
   box-sizing: border-box;
   height: 25;
   font-size: 20pt;
   padding: 15px;
   width: 100%;
}

.chessboard {
   float: left;
   height: 800px;
   width: 800px;
   transition:all 500ms ease-in-out;
   transition-delay:500ms;
}

.chessboard.flipped {
   -webkit-transform: rotate(180deg);
}

.row {
   clear: both;
}

.square {
   background-color: #fff;
   float: left;
   position: relative;
   height: 100px;
   width: 100px;
   cursor: pointer;
}
.row:nth-of-type(2n+1) .square:nth-of-type(2n+1){
   background-color:#c2c2c2;
}
.row:nth-of-type(2n+2) .square:nth-of-type(2n+2){
   background-color:#c2c2c2;
}


.piece {
   font-size: 3em;
   text-align: center;
   margin: auto;
   position: absolute;
   height: 0;
   top: 0; left: 0; bottom: 1.5em; right: 0;
   transition:text-shadow 500ms;
}
.piece.black{
   -webkit-transform: rotate(180deg);
   bottom: -1.5em;
}
.square:hover .piece {
   text-shadow: 1px 2px 1px #000;
}



/*================================
=            Demo CSS            =
================================*/

.color-block {
  height: 100px;
  width: 100px;
  background-color: green;
  margin: 5px;
}


.shadow {
  -webkit-box-shadow: 6px 5px 5px rgba(0,0,0,0.5);
  -moz-box-shadow   : 6px 5px 5px rgba(0,0,0,0.5);
  -ms-box-shadow    : 6px 5px 5px rgba(0,0,0,0.5);
  box-shadow        : 6px 5px 5px rgba(0,0,0,0.5);
  display           : block;
  z-index           : 13;
}



.border-children .color-block {
  float: left;
  border: 5px dashed #c2c2c2;
  margin: 5px;
  padding: 5px;
  box-sizing: content-box;
}

.sizing .color-block {
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  -ms-box-sizing    : border-box;*/
  box-sizing        : border-box;
}

.orient-horizontal {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient   : horizontal;
  -ms-box-orient    : horizontal;
  box-orient        : horizontal;
}

.orient-vertical {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient   : vertical;
  -ms-box-orient    : vertical;
  box-orient        : vertical;
}

.pack {
  font-size         : 3em;
  -webkit-box-pack  : center;
  -moz-box-pack     : center;
  -ms-box-pack      : center;
  box-pack          : center;
}
