html{
   font-family: 'Josefin Sans', sans-serif;
   background-color: #252525;
}
body{
   margin: 0; padding: 0;
}
div {
  overflow: hidden;
}

h2 {
  font-size: 3em;
}

.content-wrapper {
  padding-top: 50px;
}

/*================================
=            Demo CSS            =
================================*/

.color-block {
  height: 100px;
  width: 100px;
  background-color: green;
  margin: 5px;
}
.transition {
  transition: all;
  transition-duration: 300ms;
}


.border-children .color-block {
  float: left;
  border: 5px dashed #c2c2c2;
  margin: 5px;
  padding: 5px;
  box-sizing: content-box;
}

.sizing .color-block {
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  -ms-box-sizing    : border-box;*/
  box-sizing        : border-box;
}

.orient-horizontal {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient   : horizontal;
  -ms-box-orient    : horizontal;
  box-orient        : horizontal;
}

.orient-vertical {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient   : vertical;
  -ms-box-orient    : vertical;
  box-orient        : vertical;
}

/*====================================
=            box-pack            =
====================================*/

.pack-wrapper {
  background-color: red;
  display: -webkit-box;
}

.pack-start {
  -webkit-box-pack  : start;
  -moz-box-pack     : start;
  -ms-box-pack      : start;
  box-pack          : start;
}
.pack-center {
  -webkit-box-pack  : center;
  -moz-box-pack     : center;
  -ms-box-pack      : center;
  box-pack          : center;
}
.pack-end {
  -webkit-box-pack  : end;
  -moz-box-pack     : end;
  -ms-box-pack      : end;
  box-pack          : end;
}
.pack-justify {
  -webkit-box-pack  : justify;
  -moz-box-pack     : justify;
  -ms-box-pack      : justify;
  box-pack          : justify;
}

/*====================================
=            box-shadow            =
====================================*/

.shadow {
  box-shadow        : 6px 5px 5px rgba(0,0,0,0.5);
}
.shadow-inset {
  box-shadow        : inset 6px 5px 5px rgba(0,0,0,0.5);
}
.shadow-hover:hover {
  box-shadow        : 6px 5px 5px rgba(0,0,0,0.5);
}