/**

    Colors https://kuler.adobe.com/Darkness-is-Blue-color-theme-91932/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20Darkness%20is%20Blue&mode=rgb&rgbvalues=0.06274509803921569,0.06274509803921569,0.07058823529411765,0,0,0.00392156862745098,0.050980392156862744,0.34901960784313724,1,0,0.49411764705882355,0.9098039215686274,0.13333333333333333,0.2235294117647059,0.25098039215686274&swatchOrder=0,1,2,3,4:
    - Dark Grey      : #101012 16 16 18
    - Black          : #000001
    - Deep Blue      : #0D59FF
    - Bright Blue    : #007EE8
    - Dark Green/Muck: #223940

    - Pastel Blue  : #ADF1FF;
    - Nice TQ      : #0095B3;
    - Bright TQ    : #00D5FF;
    - Pastel Orange: #FF963B;
    - Orange       : #FF7600; 255 118 0

    #101012

**/

body {
    color: #ADF1FF;
}

.section-intro{

}
h1 {
    background: rgba(173,241,255,0.6);
    color: #101012;
}

.section-bio {
    /*background-color: #0095B3;*/
    background-color: hsla(190, 100%, 35%, 1);
    color: #101012;
}

.section-skills{
    background-color: #ADF1FF;
    color: #101012;
}
.legend div {
    background-color: #FF7600;
    color: #FFF;
    font-weight: 700;
}
h4 {

}
.section-fact{
    background-color: #FF7600;
    color: #FFF;
}
.section-links{
    background-color: #0095B3;
}
.section-links h2 {
    color: #fff;
}

